<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">
    <mat-icon>water_drop</mat-icon>
    <span class="logo-text">RO Service Tracking</span>
  </span>
  <span class="spacer"></span>
  <span class="user-info">
    <mat-icon>person</mat-icon>
    <span class="user-name">{{ userName }}</span>
  </span>
  <button mat-icon-button (click)="logout()" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    [mode]="isMobileView ? 'over' : 'side'" 
    [opened]="sidenavOpened"
    (closedStart)="sidenavOpened = false"
    class="sidenav">
    <mat-nav-list>
      <a mat-list-item 
         routerLink="/employee/dashboard" 
         routerLinkActive="active"
         (click)="onMenuItemClick()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item 
         routerLink="/employee/orders" 
         routerLinkActive="active"
         (click)="onMenuItemClick()">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>My Orders</span>
      </a>
      <a mat-list-item 
         routerLink="/employee/amc-assignment" 
         routerLinkActive="active"
         (click)="onMenuItemClick()">
        <mat-icon matListItemIcon>verified_user</mat-icon>
        <span matListItemTitle>Assign AMC Plan</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
